@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  overflow-y: auto;
}

h1,
input {
  font-family: "Playfair Display", serif;
  overflow: hidden;
}

button {
  background-color: #ca8e83;
  color: white;
}

button:active {
  background-color: #a75f37;
}

.slide-up {
  animation: slideUp 1s ease-out;
}

.fade-in {
  animation: fadeIn 1.25s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
